@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap");
:root {
	font-family: "Manrope", sans-serif;
	box-sizing: border-box;
	/* --hsl(21°, 94%, 75%) */
	/**/
	/* colors */
	--main: #d87d4a;
	--main-hover: #fbaf85;
	--black: #000000;
	--white: #ffffff;
	--almostWhite: #fafafa;
	--grayishWhite: #f1f1f1;
}
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
a {
	text-decoration: none;
	color: var(--white);
}
button {
	background-color: transparent;
	border: 0;
	cursor: pointer;
}
img {
	max-width: 100%;
}
ul {
	list-style: none;
}
.fa-cart-shopping,
.fa-bars,
.fa-xmark {
	color: var(--white);
	font-size: 1.4em;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	grid-template-rows: auto;
}
.grid__content {
	grid-column: 2;
	grid-row: 1/-1;
}
#__nuxt {
	max-width: 1440px;
	margin-inline: auto;

	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	grid-template-rows: repeat(3, auto);
}
.main {
	grid-column: 1/-1;
	grid-row: 2;

	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	grid-template-rows: auto;
}
.main__contents {
	grid-column: 1/-1;
	grid-row: 1;
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	grid-template-rows: repeat(3, auto);
}
.footer {
	grid-column: 1/-1;
	grid-row: 3;
}

/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */
.hero__contents {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: calc(100vh - 5em);
	align-items: center;
}
.hero__contents picture {
	grid-column: 1;
	grid-row: 1;
	height: 100%;
}
.hero__contents img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: bottom;
}
.hero__details {
	grid-column: 1;
	grid-row: 1;

	text-align: center;
	max-width: 380px;
	margin-inline: auto;
	margin-top: 5em;
	padding-inline: 0.5em;
}

.subHeading {
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 10px;
	/* text-align: center; */
	text-transform: uppercase;
	color: var(--white);
	opacity: 0.5;
	/* mix-blend-mode: normal; */
}
.heading {
	font-weight: 700;
	font-size: 36px;
	line-height: 40px;
	/* text-align: center; */
	letter-spacing: 1.28571px;
	text-transform: uppercase;
	color: var(--white);
}

.text {
	font-weight: 500;
	font-size: 15px;
	line-height: 25px;
	/* text-align: center; */
	color: var(--white);
	opacity: 0.75;
}

.cta {
	display: inline-block;
	padding: 1em 2.5em;
	font-weight: 700;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	position: relative;
	cursor: pointer;
}
.cta--prim {
	/* background-color: #d87d4a; */
	/* transform: ; */
	background-color: var(--main);
	transition: all .5s linear;
	position: relative;
	z-index: 2;
}
.cta--prim span{
	color: #fff;
	position: relative;
	z-index: 4;
}
.cta--prim::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: var(--black);
	transition: all .5s linear;
	z-index: -1;
	border: 1px solid var(--main);
}
.cta--prim:hover::before {
	width: 100%;
	height: 100%;
}
.cta--hover {
	background-color: var(--main-hover);
}
.cta--sec {
	position: relative;
	z-index: 10;
}
.cta--sec::before,
.cta--sec::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s linear;
}
.cta--sec::before {
	background-color: #4c4c4c;
	z-index: -2;
	/* close */
	clip-path: circle(0% at 50% 50%);
	transition: all 0.3s linear;
}
.cta--sec::after {
	background-color: var(--black);
	z-index: -4;
}
.cta--sec:hover::before {
	/* full visible */
	clip-path: circle(100% at 50% 50%);
}
.cta--alt {
	color: var(--black);
	background-color: transparent;
	border: 1px solid var(--black);
	position: relative;
	z-index: 10;
	transition: all 0.1s linear;
}
.cta--alt::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 0%;
	height: 100%;
	background-color: var(--black);
	background-image: linear-gradient(to left, #000, #000);
	transition: all 0.3s linear;
	z-index: -1;
	/* clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%); */
	background-blend-mode: overlay;
}
.cta--alt:hover {
	color: var(--white);
}
.cta--alt:hover::before {
	width: 100%;
	/* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
}

/* -product */
/* */
.product__container {
	margin: 5em 0;
}
.product {
	text-align: center;
}
.product + .product {
	margin-top: 5em;
}
.categoryHeading {
	background-color: var(--black);
	padding: 0.8em 0;
	color: var(--white);
	text-align: center;
	text-transform: uppercase;

	font-weight: 700;
	font-size: 28px;
	line-height: 38px;
	letter-spacing: 2px;
}
.product__title {
	font-weight: 700;
	font-size: 28px;
	line-height: 38px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: var(--black);
	margin-bottom: 0.8em;
	max-width: 200px;
	margin-inline: auto;
}
.product__new {
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	/* text-align: center; */
	letter-spacing: 10px;
	text-transform: uppercase;
	color: var(--main);
	display: inline-block;
	margin-bottom: 1em;
}

.product__description {
	font-weight: 500;
	font-size: 15px;
	line-height: 25px;
	color: var(--black);
	opacity: 0.5;
	max-width: 550px;
	margin: 0 auto 1.5em;
}


/*  MOBILE DROPDOWN MENU ================================================*/
/*  MOBILE DROPDOWN MENU ================================================*/




/* .slide-enter-from .dropdown__link, .slide-leave-to .dropdown__link {
	opacity: 0;
	transform: translateY(30px);
}
.slide-enter-active .dropdown__link, .slide-leave-active .dropdown__link {
	transition: all .6s linear;
} */

@media (min-width: 992px) {
	.product {
		display: flex;
		gap: 5em;
		text-align: left;
	}
	.product:nth-child(2) {
		flex-direction: row-reverse;
	}

	.product__content {
		align-self: center;
	}
	.product__title {
		margin-inline: 0;
	}
	.product__description {
		flex: 1;
		font-weight: 500;
		font-size: 15px;
		line-height: 25px;
		color: #000;
		opacity: 0.5;
		max-width: 550px;
		margin: 0 0 1.5em;
	}
}
